2-Hava Durumu API'si Entegrasyonu/workflow.json
{
  "name": "Hava Durumu API'si Entegrasyonu",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        -64
      ],
      "id": "d9d01f19-ac54-4201-b687-e9db42a27d66",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "Istanbul"
            },
            {
              "name": "appid",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        -64
      ],
      "id": "4d88973a-3ada-47ab-94b8-4a3457bf96e4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6590a2f1-67e1-441e-9ca9-575f57550559",
              "name": "notification_text",
              "value": "=Bugün hava sıcaklığı {{ $json.main.temp }}°C. Hava 20 derecenin üzerinde, güzel bir gün!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -160
      ],
      "id": "b9fa8bc6-e261-454b-9a00-2cce95bf2197",
      "name": "Güzel bir gün"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ceaa925e-c449-486e-ab1f-51360a78020b",
              "name": "notification_text",
              "value": "=Bugün hava sıcaklığı {{ $json.main.temp }}°C. Hava biraz serin, evde kahve keyfi yapmak için harika bir gün!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        32
      ],
      "id": "9a1c64e4-9bdb-410d-8167-d8aacef7a119",
      "name": "Evde kal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "14fc4d94-6107-49da-a21a-8c2b00e57698",
              "leftValue": "={{ $json.main.temp }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        -64
      ],
      "id": "6811d24e-d387-4d9c-9485-d070d98d68f5",
      "name": "If (temp>20)"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If (temp>20)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If (temp>20)": {
      "main": [
        [
          {
            "node": "Güzel bir gün",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evde kal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9809cc59-cd69-4668-94fc-fd7971983379",
  "meta": {
    "instanceId": "2644f70721cac60487a0fefce7f3a323191ee50b0625120a385be664cb3be262"
  },
  "nodeGroups": [],
  "id": "9ZX6Y5c8s1XqM4Be",
  "tags": []
}