3-Slack API Entegrasyonu - Hata Bildirim Botu/workflow.json
{
  "name": "3-Slack API Entegrasyonu - Hata Bildirim Botu",
  "nodes": [
    {
      "parameters": {
        "url": "=https://jsonplaceholder.typicode.com/users/{{$json.body.userId}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        -240
      ],
      "id": "5625c125-3a3b-4d7e-b038-c8dba90a80a4",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fddee47-c630-4b6e-9bd7-c73a917c6ddf",
              "name": "name",
              "value": "=Hoş geldin {{ $json.name }}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -320
      ],
      "id": "65434195-3e48-456c-beb3-8a3f18e7b36e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -240
      ],
      "id": "b8208a5b-cdde-4e28-baf8-43fb09cd6f4d",
      "name": "Webhook",
      "webhookId": "00b709aa-9d0e-4881-81fc-e0c1986ce2af"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6b46621-a219-4758-a0c1-ae880dc5c745",
              "name": "body.userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -240
      ],
      "id": "60e3ba05-aa9c-468e-bb93-cb0c82cc90a9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce375b70-3628-426a-ae07-29b1530358b9",
              "leftValue": "={{$json.error}}",
              "rightValue": 200,
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        -240
      ],
      "id": "f60ea253-6279-445e-860b-bbb1cc1ebc7e",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#n8n-error-notification",
          "mode": "name"
        },
        "text": "={{\n\"🚨 *n8n İş Akışı Hatası Yakalandı!*\" + \"\\n\\n\" +\n\"*Workflow Adı:* \" + $workflow.name + \"\\n\" +\n\"*Workflow ID:* \" + $workflow.id + \"\\n\" +\n\"*Durum Kodu:* \" + $json.error.status + \" - \" + $json.error.code + \"\\n\" +\n\"*Hata Detayı:* \" + \"User talebinde hata alındı! / UserId:\" + ($('Edit Fields1').item.json.body.userId || \"Detay bulunamadı\") + \"\\n\" +\n\"*Hata Stack Trace:* \" + $json.error.stack\n}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        240,
        -112
      ],
      "id": "5d8d7c2f-9482-407a-ab50-5ca54b6ee285",
      "name": "Send a message",
      "webhookId": "",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c8ab33f5-cf18-443f-ab5d-65860cfefb7b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2644f70721cac60487a0fefce7f3a323191ee50b0625120a385be664cb3be262"
  },
  "nodeGroups": [],
  "id": "ZKrft4Z66R3xWrn9",
  "tags": []
}